<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Professional Development</title>
</head>
<body>
    <h2>Professional Development</h2>
    <p>Welcome {{first_name}} {{last_name}}!  You are a(n) {{occupation}} and this is your Professional Development dashboard</p>
</body>
</html>
