<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Professional Development</title>
</head>
<body>
    <h2>Professional Development</h2>

    <p>Please <a href="/login">log in</a> to continue</p>
</body>
</html>
