<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Professional Development</title>
</head>
<body>
    <h2>Professional Development</h2>
    <p>{{message}}</p>
    <form>
        <input type="email" name="email" placeholder="your_email@domain.com" autofocus>
        <br />
        <input type="password" name="password">
        <br />
        <button type="submit" formenctype="application/x-www-form-urlencoded" formaction="/login" formmethod="post">Log in</button>
    </form>
    <br />
    <p>Test users are: manager@company.com with password password123 and employee@company.com with password password123.</p>
</body>
</html>
