<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>MCIS Professional Development</title>
</head>
<body>
    <h2>MCIS Professional Development</h2>
    <p>{{message}}</p>
    <form>
        <input type="email" name="email" placeholder="your_email@domain.com" autofocus>
        <input type="password" name="password">
        <button type="submit" formenctype="application/x-www-form-urlencoded" formaction="/login" formmethod="post">Log in</button>
    </form>
</body>
</html>
